body{
    background-image: url(bg1.jpg);
    background-size: cover;
    overflow: auto;
}


.nav{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: .7;
}
.items{
    list-style: none;
    display: flex;
}
.options{
    color: rgb(229, 229, 229);
    text-decoration: none;
    font-size: 100px;
    opacity: 1;
    padding: 40px 200px;
    background-color: rgb(0, 0, 0);
}
.options:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
    opacity: .8;
    background-color: rgb(255, 255, 255);
}
.education{
    color: rgb(8, 8, 8);
    text-decoration: none;
    font-size: 100px;
    opacity: 1;
    padding: 40px 200px;
    background-color: rgb(255, 255, 255);
}
H1{
    font-size: 200px;
    color: rgb(147, 161, 173);
    margin-top: 80px;
    margin-left: 100px;
}
ul{font-size: 80px;
color: aliceblue;}
.box{
    height: 1500px;
    background-color: rgb(27, 34, 39);
    opacity: .7;
    margin-left: 400px;
    width: 90%;
    margin-bottom: 215px;
}
.ten{background-color: rgb(39, 54, 54);
    padding-left: 200px;
    padding-top: 30px;
    padding-bottom: 30;

}
.twelve{background-color: rgb(39, 54, 54);
    padding-left: 200px;
    padding-top: 30px;
    padding-bottom: 30px;

}.ug{background-color: rgb(39, 54, 54);
    padding-left: 200px;
    padding-top: 30px;
    padding-bottom: 30px;

}

